{% extends 'base.html' %}


{% block content %}



<form action="http://localhost:5000/feeling_lucky"  method="POST">
    {{ form.name.label() }}{{ form.name() }}<br>
    {{ form.location.label() }}{{ form.location() }}<br>
    {{ form.type.label() }}{{ form.type() }}<br>
    {{ form.submit() }}


    {{ form.hidden_tag() }}


</form>
{% for message in get_flashed_messages() %}
    <strong>{{ message }}</strong>
{% endfor %}

{% if name %}
    <h4>Hi, {{ name }}! The algorithm has chosen {{ restaurant }} for you to try.</h4>

{% endif %}





{% endblock %}
